{% extends 'bases/base.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Blog Two Column</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Blog Area -->
        <section class="blog-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    {% for art in articles %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item">
                            <div class="image">
                                <a href="{% url 'blog:single_blog' art.titre_slug %}"><img src="{{art.cover.url}}" alt="image"></a>
                                
                                <div class="date">
                                    <span>{{art.date_add}}</span>
                                </div>
                            </div>
                            <div class="content">
                                <h3>
                                    <a href="{% url 'blog:single_blog' art.titre_slug %}">{{art.titre}}</a>
                                </h3>
                                <a href="{% url 'blog:single_blog' art.titre_slug %}" class="blog-btn">Read More +</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Blog Area -->
        
     {
{% endblock %}