{% extends 'bases/baseadmin.html' %}
{% load static %}
{% block content %}


    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Form Layouts</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="../index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Forms</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="#">Form Layouts</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Horizontal form layout section start -->
                <section id="basic-horizontal-layouts">
                    <div class="row match-height">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Ajout d'un produit</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-body">
                                                <div class="row">
                                                 
                                                    <div class="col-12">
                                                        <div class="form-group row">
                                                            <div class="col-md-4">
                                                                <span>Titre</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" id="first-name" class="form-control" name="titre" placeholder="Titre">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="text-bold-600 font-medium-2">
                                                            Catégorie
                                                        </div>
                                                        <fieldset class="form-group">
                                                            <select class="form-control" name="categorie" id="basicSelect">
                                                                <option>IT</option>
                                                                <option>Blade Runner</option>
                                                                <option>Thor Ragnarok</option>
                                                            </select>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="text-bold-600 font-medium-2">
                                                            Tag
                                                        </div>
                                                        <fieldset class="form-group">
                                                            <select class="form-control" name="tag" id="countrySelect" multiple="multiple">
                                                                <option selected="selected">Square</option>
                                                                <option>Rectangle</option>
                                                                <option selected="selected">Rombo</option>
                                                                <option>Romboid</option>
                                                                <option>Trapeze</option>
                                                                <option>Triangle</option>
                                                                <option selected="selected">Polygon</option>
                                                                <option>Regular polygon</option>
                                                                <option>Circumference</option>
                                                                <option>Circle</option>
                                                            </select>
                                                        </fieldset>
                                                    </div>
                                                       <!-- Bootstrap TouchSpin Spinners Decimal start -->

                   <!-- Bootstrap TouchSpin Spinners Decimal start -->
                   <section id="touchspin-decimal">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Old prix</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="touchspin" name="old_prix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Bootstrap TouchSpin Spinners Decimal end -->
 <!-- Bootstrap TouchSpin Spinners Decimal start -->
                <section id="touchspin-decimal">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">New prix</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="touchspin" name="new_prix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                                                                    <section class="floating-label-textarea">
                                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <h4 class="card-title">Résumé</h4>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                           
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <fieldset class="form-label-group">
                                                                                        <textarea class="form-control" id="label-textarea" name="resume" rows="3" placeholder="Résumé"></textarea>
                                                                                        <label for="label-textarea">Résumé</label>
                                                                                    </fieldset>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <img src="..." class="rounded float-right"  name="cover"  alt="...">
                                                   
                                                    <div class="col-md-8 offset-md-4">
                                                        <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                                                        <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </section>
                <!-- // Basic Horizontal form layout section end -->

        
            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}