{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
        <!-- Start Page Banner -->
        <div class="page-banner-area item-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Shop Details</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Shop Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Product Details Area -->
        <section class="product-details-area pt-100 pb-70">
            <div class="container">
                {% for single in singles %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="gallery-image"><img src="{{single.cover.url}}" alt="image"></a></div>
                            </div>
        
                            <div class="col-lg-6 col-md-12">
                                <div class="product-details-desc">
                                    <h3>{{single.titre}}</h3>
                                    <div class="price">
                                        <span class="new-price">{{single.old_prix}}</span>
                                        <span class="old-price">{{single.new_prix}}</span>
                                    </div>
                                    <div class="product-review">
                                        <div class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>

                                    </div>
                                    <p> {{single.resume|safe}} </p>
                               <div class="product-add-to-cart">
                                        <div class="input-counter">
                                            <span class="minus-btn">
                                                <i class='bx bx-minus'></i>
                                            </span>
                                            <input type="text" min="1" value="1">
                                            <span class="plus-btn">
                                                <i class='bx bx-plus'></i>
                                            </span>
                                        </div>
                                        <button type="submit" class="default-btn">
                                            Add to cart
                                            <span></span>
                                        </button>
                                    </div>
        
                                    <div class="buy-checkbox-btn">
                                        <div class="item">
                                            <input class="inp-cbx" id="cbx" type="checkbox">
                                            <label class="cbx" for="cbx">
                                                <span>
                                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                    </svg>
                                                </span>
                                                <span>I agree with the terms and conditions</span>
                                            </label>
                                        </div>
                                        <div class="item">
                                            <a href="#" class="btn btn-light">Buy it now!</a>
                                        </div>
                                    </div>
        
                                    <div class="products-share">
                                        <ul class="social">
                                            <li><span>Share:</span></li>
                                            <li>
                                                <a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="tab products-details-tab">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul class="tabs">
                                        <li>
                                            <a href="#">
                                                <div class="dot"></div> 
                                                Description
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="dot"></div> 
                                                Reviews
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="tab_content">
                                        <div class="tabs_item">
                                            <div class="products-details-tab-content">
                                                <p>{{single.description|safe}}</p>
                                            </div>
                                        </div>

                                        <div class="tabs_item">
                                            <div class="products-details-tab-content">
                                                <div class="product-review-form">
                                                    <h3>Customer Reviews</h3>
                                                    <div class="review-title">
                                                        <div class="rating">
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                        </div>
                                                        <p>Based on 3 reviews</p>
                                                        <a href="#" class="default-btn">
                                                            Write a Review
                                                        </a>
                                                    </div>
                                                    {% for singles in singles %}
                                                    <div class="review-comments">
                                                        {% for review in singles.getReviews %}
                                                        <div class="review-item">
                                                            <div class="rating">
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>

                                                            </div>
                                                            <h3>{{review.titre}}</h3>
                                                            <span><strong>{{review.nom}}</strong> on <strong>{{review.date_add}}</strong></span>
                                                            <p>{{review.review}}.</p>

                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                    {% endfor %}
                                                    <div class="review-form">
                                                        <h3>Write a Review</h3>
                                                        <form method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <input type="text" id="name" name="nom" placeholder="Enter your name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="form-group">
                                                                        <input type="text" id="review-title" name="titre" placeholder="Enter your a title" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="form-group">
                                                                        <textarea name="review" id="review-body" cols="30" rows="7" placeholder="Write your comments here" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <button type="submit" class="default-btn">
                                                                        Submit Review
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
              {% endfor %}

                    </div>
                    
                    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area">


                            <section class="widget price_list_widget">
                                <h3 class="widget-title">Price</h3>

                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="$10">
                                    </div>
                                </form>
                            </section>

                            <section class="widget widget_popular_products">
                                <h3 class="widget-title">Popular Products</h3>
                                {% for produit in prod %}
                                <article class="item">
                                    <a href="{% url 'shop:product' produit.titre_slug %}" class="thumb">
                                        <span class="{{produit.cover.url}}" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <span>{{produit.old_price}}</span>
                                        <h4 class="title usmall"><a href="{% url 'shop:product' produit.titre_slug %}">{{produit.titre}}</a></h4>
                                        <div class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </article>
                                {% endfor %}

                            </section>

                            <section class="widget widget_tag_cloud">
                                <h3 class="widget-title">Popular Tags</h3>

                                {% for tag in tags %}
                                <div class="tagcloud">
                                    <a href="#">{{tag.titre}}</a>

                                </div>
                                {% endfor %}
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Details Area -->

        <!-- Start Featured Products Area -->
        <section class="featured-products-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Featured  Products</h2>

                </div>

                <div class="row">
                    {% for prod in prods %}
                    <div class="col-lg-3 col-md-6">
                        <div class="featured-products-item">
                            <div class="products-image">
                                <a href="shop_details.html"><img src="{{prod.cover.url}" alt="image"></a>

                                <ul class="products-action">
                                    <li>
                                        <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="new">
                                    <span>New</span>
                                </div>
                            </div>

                            <div class="products-content">
                                <h3>
                                    <a href="shop_details.html">{{prod.titre}}</a>
                                </h3>
                                <div class="price">
                                    <span class="new-price">{{prod.old_prix}}</span>
                                    <span class="old-price">{{prod.new_prix}}</span>
                                </div>
                                <ul class="rating">
                                    <li>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <!-- End Featured Products Area -->

{% endblock %}